<body>
    <h3>Pseudo chat</h3>

    <input id="sendmessage" type="button" value="Send message"/>
    <input id="messageTextInput" type="text"/>

    <ul id="chatMessages"></ul>

    <script src="~/js/chatstream.js"></script>
</body>