@model Character
@{
    ViewData["Title"] = "Add character";
}

<div class="text-center">
    <h1 class="display-4">Add character</h1>

    <form asp-controller="Characters" asp-action="Add" method="post">
        <label asp-for="Id"></label><br>
        <input asp-for="Id" type="number" /><br>

        <label asp-for="Name"></label><br>
        <input asp-for="Name" type="text" /><br>

        <label asp-for="Age"></label><br>
        <input asp-for="Age" type="number" /><br>

        <label asp-for="StoryId"></label><br>
        <input asp-for="StoryId" type="number" /><br>

        <button type="submit">Add character</button>
    </form>
</div>